<div class="container-fluid">
    <h1 class="text-center border-bottom p-5" >Administrar Empleados <i class='bx bxs-user' style='color:#1690a6' ></i></h1>
    <div class="d-flex row m-5">

        <div class="col-lg-8 col-sm-12">
    <table class="table table-info table-striped table-hover m-5">
        <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sector</th>
            <th>Baja</th>
            <th>Editar</th>
            
        </tr>
        {{#each employees}}
        <tr>
            <td>{{file_number}}</td>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{sector}}</td>
            <td> <a href="/admin/employees/delete/{{id}}" class="btn btn-danger"><i class='bx bxs-x-circle bx-sm' style='color:#ffffff'  ></i></a> </td>
            <td> <a href="/admin/employees/update/{{id}}" class="btn btn-success" ><i class='bx bxs-edit bx-sm' style='color:#ffffff;'  ></i></a> </td>

        </tr>    
        {{/each}}
    </table>

        </div>
        <div class="col-lg-4 col-sm-12">
            <img class="img-fluid img_table_emp" src="/images/users.svg" alt="">
        </div>

    </div>    


</div>