<div class="container-fluid">
    <h1 class="text-center border-bottom p-5" >Editar productos</h1>
    <div class="d-flex row">
        <div class="col-lg-6 col-sm-12">

    <table class="table table-dark table-striped table-hover m-5">
        <tr>
            <th>id</th>
            <th>Destino</th>
            <th>Imagen</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{id}}</td>
            <td>{{city}}</td>     
            <td><img class="img-fluid" src="/images/{{uid}}" alt="img"></td>   
            <td> <a href="/admin/products/update/{{id}}" class="btn btn-success" ><i class='bx bxs-edit bx-sm' style='color:#ffffff;'  ></i></a> </td>
            <td> <a href="/admin/products/delete/{{id}}" class="btn btn-danger"><i class='bx bxs-x-circle bx-sm' style='color:#ffffff'  ></i></a> </td>
        </tr>    
        {{/each}}
    </table>

        </div>

        <div class="col-lg-6 col-sm-12">
            <img class="img-fluid" src="/images/world.svg" alt="img-world">
        </div>




    </div>

</div>